<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .first{
            display: flex;
            align-items: center;
            padding: 40px;
        }
        h1{
            margin-right: 2rem;
        }
    </style>
</head>
<body>
    Hello world
    <div class="first">
        <h1 data-th-text="${name}">abc</h1>
        <p>yt channel : <span data-th-text="${yt}"> yt</span></p>
    </div>
</body>
</html>